.auth-container {
  max-width: 580px;            
  width: 90%;                  
  margin: 120px auto 60px;
  padding: 50px 45px;          
  background: linear-gradient(135deg, #889609bb, #2a5298, #1bafe1d8);
  border-radius: 18px;         
  box-shadow: 0 8px 30px rgba(0,0,0,0.20);
}

/* NASLOV */
.auth-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;             
  color: white;
}

/* FORM */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.auth-form label {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.auth-form input {
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* BUTTON */
.auth-btn {
  padding: 14px;
  background: #023e98;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
}

.auth-btn:hover {
  background: #294a8f;
}

/* SWITCH LINK */
.auth-switch {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
}

.auth-switch a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}



