.trip-container {
  max-width: 500px;
  margin: 120px auto;
  padding: 30px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.08);
}

.trip-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.trip-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trip-form input,
.trip-form select,
.trip-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.trip-btn {
  background: #3c7dd9;
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.trip-btn:hover {
  background: #2f66b7;
}







