/* ===== GLOBAL RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== GLOBAL FONT ===== */
body {
  font-family: "Poppins", system-ui, sans-serif;
background: linear-gradient(
  135deg,
  #dbeafe 0%,
  #bfdbfe 25%,
  #93c5fd 50%,
  #60a5fa 75%,
  #3b82f6 100%
);
  min-height: 100vh;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Root */
#root {
  width: 100%;
  min-height: 100vh;
}
/* ===== MOBILE GLOBAL SETTINGS ===== */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* manji text na malim ekranima */
    overflow-x: hidden; /* sprječava horizontalno skrolovanje */
  }

  #root {
    padding: 8px;
  }
}